body {
	background-color: #606060;
}

@media (max-width: 1080px) {
	body {
		background-color:#399433;
	}
}

@media (max-width: 550px) {
	body {
		background-color:#b45c27;
	}
}

@media (max-width: 400px) {
	body {
		background-color:#612345;
	}
}